<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Hockey Stats</title>
</head>
  <body>
    <div id="app">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="/">Hockey</a>
        
        <button @click="navOpen = !navOpen" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div :class="[{'in': navOpen}, 'collapse', 'navbar-collapse']" id="main-nav">
          <ul class="navbar-nav mr-auto">
            <% if @nav_links %>
              <% @nav_links.each do | nav_link | %>
                <li class="nav-item"><a class="nav-link" href="<%= nav_link[:url] %>"><%= nav_link[:name] %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <%= yield %>
      </div>

    </div>
    <script src="/js/bundle.js"></script>  
  </body>
</html>